<div class="jumbotron">
  <h1>Tech-Arts eTest</h1>
  <p>We build the Tech-Arts eTest to facilitate candidates who don't have enough time go to our company and do a paper test.<br/>
  	A few tips and tricks before passing the test:<br/>
  	<ul class="list-unstyled">
  		<li>- the candidate must register basic information and an account</li>
  		<li>- the candidate login and choose the test corresponding the position you want to apply.</li>
  		<li>- the test has a time limit</li>
  		<li>- the test can be taken only once. So, you shouldn't leave test page until you're sure that your test was submitted.</li>
  		<li>- your score will be sent to you by e-mail after it is marked by admin</li>
	</ul>
  </p>
  <p><a class="btn btn-primary btn-lg" role="button" href="#/register">Register to start the test</a></p>
</div>